<component name="libraryTable">
  <library name="spring-beans-6.0.11">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/spring-beans-6.0.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-core-6.0.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-jdbc-6.0.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-tx-6.0.11.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>